<div class="header">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-md-4 col-xs-12">  
                <div class="logo">
                    <img class="logoimg" src="assets/images/milwauke-logo.png" alt="logo">
                    <h4> Parking Complaints </h4>
                </div>  
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="toplink">
                    <a class="" routerLink="/home" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                        Complaint
                    </a> 
                    <a class="" routerLink="/search" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                        Search
                    </a> 
                </div>
               
                
            </div>
        </div>
        <!-- <nav class="navbar navbar-expand-lg navbar-light"> -->
            <!-- <a class="navbar-brand " href="index.html">
                 <h4 style="display: inline-flex; text-transform: uppercase; font-weight: 800; color:#02208e; font-size:inherit;">  </h4>
            </a> -->
           
            <!-- <button class="navbar-toggler" (click)="toggleCollapsed()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button> -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}"> -->
                <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" routerLink="/home" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Complaint
                        </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" routerLink="/search" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search
                        </a> 
                    </li>
                </ul>
            </div>
        </nav> -->
    </div>
</div>
<!-- <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <h4>
                <span>
                    <img src="assets/images/milwauke-logo.png">
                </span>
                Govtow Complaints
            </h4>
        </a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="nav navbar-nav navbar-right mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Complaint <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/search">Search</a>
            </li>
           
          </ul>
         
        </div>
      </nav> -->

    <!-- <section class="">
        <aside>
        
            <img src="assets/images/logo_dark.png">
        </aside>
    </section>
    
    <nav class="navbar navbar-right">
        <div class="">
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed" type="button">
                    <span class="icon-bar">
                        <i class="fa fa-bars"></i>
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right" routerlinkactive="active">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home"> Complaint </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/search"> Search </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
<!-- </header> -->