.data {
  display: grid;
  gap: 1rem;
  padding: 0 16px;
  background-color: #f3f3f3;
  padding: 10px;
}

.data-item {
  font-size: medium;
  margin: 5px 0;
}

@media (min-width: 640px) {
  .data {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
