<div class="" id="Top">
  <div class="col-md-12 col-xs-12">
    <div *ngIf="ErrorMsg" role="alert" class="alert alert-danger alert-dismissible">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{ErrorMsg}}
    </div>
    <div *ngIf="SuccessMsg" role="alert" class="alert alert-success alert-dismissible">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{SuccessMsg}}
    </div>
  </div>


  <div class="col-md-12">
    <div class="alert alert-info" role="alert" *ngIf="indLoading">
      <img src="{{LoaderImage}}" width="32" height="32" /> Loading...
    </div>
  </div>
  <div class="col-md-offset-1 col-md-10">
    <div class="overlayscroll6">
      <div class="card martop10">
        <div class="card-header">
          <div class="one">
            <h4>Search Parking Complaints</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid">

            <form [formGroup]="SearchForm">
              <div class="form-group col-md-8 col-xs-8" style="max-width: 600px;">
                <mat-form-field class="example-full-width">
                  <input type="text" matInput placeholder="Complaint No" formControlName="ComplaintNoFormControl" class="text-left"/>
                  <mat-icon matSuffix style="font-weight: 600">search</mat-icon>
                  <mat-error *ngIf="SearchForm.controls['ComplaintNoFormControl'].errors?.required && (SearchForm.controls['ComplaintNoFormControl'].dirty || SearchForm.controls['ComplaintNoFormControl'].touched)">
                    Complaint No is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>   
            
              <!-- Verification code fields -->
              <!-- <div class="form-group col-md-12 col-xs-12" *ngIf="verificationCode!=''">
                <mat-form-field class="example-full-width">
                  <input type="text" matInput placeholder="Verification Code" formControlName="VerificationCodeFormControl" class="text-left" />
                  <mat-error *ngIf="SearchForm.controls['VerificationCodeFormControl'].errors?.required && (SearchForm.controls['VerificationCodeFormControl'].dirty || SearchForm.controls['VerificationCodeFormControl'].touched)">
                    Verification Code is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12 col-xs-12" *ngIf="verificationCode!=''">
                <button type="button" class="btn btn-primary" (click)="verify(SearchForm.value)">Verify</button>
              </div> -->
              <!-- Code timer -->
              <!-- <div class="form-group col-md-12 col-xs-12">
                <span *ngIf="timer > 0">Code will expire in {{ timer }} seconds</span>
                <button mat-icon-button color="primary" *ngIf="timer <= 0" (click)="resendVerificationCode()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div> -->
            
              <div class="form-group col-md-4 col-xs-4 martop10">
                <button type="submit" class="btn btn-blue1 btn-labeled" (click)="Search(SearchForm.value)" name="Search">
                  <span class="btn-label">
                    <i class="fa fa-search"></i>
                  </span> Search
                </button>
              </div>
              <div class="row data-row" *ngIf="AbanList != null">
                <div class="data form-group col-md-12 col-xs-12 martop10">
                  <span class="data-item">Record Id: <strong>{{AbanList.RecordId}}</strong></span>
                  <span class="data-item">Status: <strong>{{AbanList.Status}}</strong></span>
                  <span class="data-item">Complaint No: <strong>{{AbanList.ComplaintNo}}</strong></span>
                  <span class="data-item">Location: <strong>{{AbanList.Location}}</strong></span>
                  <span class="data-item">Request Date: <strong>{{AbanList.Date}}</strong></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
<ng-template #templateOLInfo class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left ">Owner/Lien Info Record Id : {{RecordId}}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeOLRef()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="col-md-12 col-xs-12">

        <div class="col-md-12 col-xs-12">

          <app-owner-lien-info [StatusId]=StatusId [Count]=AbanList.length [ControlID]=OLID [AbanId]=ABANID [UserId]=UserId [states]=states></app-owner-lien-info>


        </div>
      </div>



    </div>
  </div>
</ng-template>
<ng-template #templateConfirm class="modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left ">Confirm Info Record Id : {{RecordId}}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeConfirmRef()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12 col-xs-12">
        <app-confirmaban (OnSave)=Reload($event) [RecordId]=RecordId [StatusId]=StatusId [Count]=AbanList.length [ControlID]=OLID
          [AbanId]=ABANID [UserId]=UserId>
        </app-confirmaban>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #templateAssign class="modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left ">Assign PEO Record Id : {{RecordId}}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeAssignRef()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12 col-xs-12">
        <app-assign-aban (OnSave)=Reload($event) [RecordId]=RecordId [StatusId]=StatusId [Count]=AbanList.length [ControlID]=OLID
          [AbanId]=ABANID [UserId]=UserId [PeoUsers]=PEOfficers>
        </app-assign-aban>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #templateCancel class="modal-md">

  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title pull-left ">Cancel Info Record Id : {{RecordId}}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeCancelRef()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12 col-xs-12">
        <app-cancelaban (OnSave)=Reload($event) [RecordId]=RecordId [StatusId]=StatusId [CancelReasonId]=CancelReasonId [AbanId]=ABANID
          [UserId]=UserId [cancelreasons]=cancelreasons [CancelNotes]=CancelNotes>
        </app-cancelaban>
      </div>
    </div>

  </div>
</ng-template>